@model IEnumerable<TP2MVC.Models.Connection>

<table class="table">
    <tr>
        <th>
            Usager
        </th>
        <th>
            Date
        </th>
        <th>
            Heure
        </th>
        <th>
            Durée
        </th>
    </tr>

@foreach (var item in Model) {
    TimeSpan time = (item.EndDate - item.StartDate);
    <tr>
        <td>
            @item.GetUserName()
        </td>
        <td>
            @item.StartDate.Date.ToShortDateString()
        </td>
        <td>
            @item.StartDate.TimeOfDay.ToString()
        </td>
        <td>
            @time.ToString(@"hh\:mm\:ss")
        </td>
    </tr>
}

</table>
